:root{
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --Strong-cyan: hsl(172, 67%, 45%);
  }
.card-verde{
  background-color: var(--Very-dark-cyan);
  width: 360px;
  height: 340px;
  border-radius: 15px;
  padding: 50px;
}
.texto{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.texto p{
    color: var(--Very-light-grayish-cyan);
}
.texto h4{
    color: var(--dark-grayish-cyan);
}
.dinero h1{
    color: var(--Strong-cyan);
    font-size: 36px;
}
.card-verde button{
    background-color: var(--Strong-cyan);
    color: var(--dark-grayish-cyan);
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
}