.card-verde{
  background-color: var(--Very-dark-cyan);
  width: 360px;
  height: 340px;
  border-radius: 15px;
  padding: 50px;
}
.texto{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.texto p{
    color: var(--Very-light-grayish-cyan);
}
.texto h4{
    color: var(--dark-grayish-cyan);
}
.dinero h1{
    color: var(--Strong-cyan);
    font-size: 36px;
}
.card-verde button{
    background-color: var(--Strong-cyan);
    color: var(--dark-grayish-cyan);
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
}