* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

:root {
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  --Strong-cyan: hsl(172, 67%, 45%);
}

p {
  font-size: 18px;
  font-family: 'Space Mono', monospace;
}

.App {
  background-color: var(--Light-grayish-cyan);
  width: 100%;
  min-height: 100vh;
}

.App h1 {
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.titulo {
  padding: 30px 0 30px;
}

.card {
  background-color: var(--White);
  width: 65%;
  height: 60vh;
  margin: auto;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 400px) {

  .App {
    justify-content: center;
    padding-bottom: 20px;
  }

  .titulo {
    display: flex;
    justify-content: center;
  }

  .card {
    width: 95%;
    height: 110vh;
    flex-direction: column;
  }

  .card-blanca {
    width: 350px;
    height: 360px;
  }

  .percent {
    width: 75px;
    font-size: 14px;
  }

  #custom {
    font-size: 16px;
    width: 26%;
  }

  .card-verde {
    width: 300px;
    height: 280px;
  }

  .texto {
    margin-bottom: 10px;
  }

}